*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    
    text-align: center;
    font-size: 2rem;
    color: white;
    padding: 2rem;
    height: 100vh;
    background: linear-gradient(to right bottom, rgb(65, 94, 65),rgb(89, 95, 2) 30%,rgb(65, 195, 255));
}

section{
    display: flex;
    height: 250px;
}

section img{

    border-radius: 25px;
    border: 3px solid rgb(245, 245, 245);
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.3;
    transition: 1s ease;
}

section img:hover{
    width: 100px;
    opacity: 1;
    filter: contrast(100%);
}

