*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 1600px;
    font-family: Arial, sans-serif;
    color: white;
}

.paginaA{
    background-image: url("img/2026\ wc\ 26.jpeg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#video-fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.55; 
    z-index: -1;
}

header{
    background-color: rgba(0,0,0,0.7);
    padding: 2rem;
    text-align: center;
}

main{
    margin-top: 5rem;
    text-align: center;
    padding: 2rem;
    background-color: rgba(0,0,0,0.5);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    padding: 1.5rem;
    text-align: center;
}