/* Hoja de Estilo PRACTICA11.CSS */

*{
    box-sizing: border-box;
}

header, footer{
    background-color: white;
    border-style: solid;
    border-radius:20px;
    padding: 5px;
    text-align: center;
}

body{
    background-image: url(img/halo\ 3\ fondo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: gray;
}

video,audio,iframe{
    padding-top: 20px;
    width: 80%;
    margin: auto;
    display: block;
}

