body{
    color: rgb(255, 255, 255);
}
h1{
    color: rgb(174, 0, 255);
    text-align: center;
}
div{
    width: 200px;
    height: 100px;
    padding: 30px;
    text-align: center;
    border-radius: 40px;
}
#CajaNEGRA{
    background-color: black;
    float: left;
}
#CajaAZUL{
    background-color: rgb(0, 0, 102);
    float: right;
}
#CajaVERDE{
    background-color: rgb(9, 179, 9);
    float: left;
}
#CajaROJA{
    background-color: rgb(136, 5, 5);
    float: right;
}