html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

body{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}

header,footer{
    background-color: #F5A35F;
    text-align: center;
    padding: 2rem;
}

main{
    background-color: #74ABB5;
    padding: 2rem;
    flex: 1;
}

article{
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 25px;
}

section{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: space-around;
}

section *{
    border-radius: 2.5rem;
}

footer img{
    width: 20%;
    flex: 1 1 705; /* 1 Crece 1 Encoge y 70% de tamaño*/
}

aside{
    background-color: #ffffff;
    flex: 1 1 30%; /* 1 Crece 1 Encoge y 30% de tamaño*/
    padding: 5rem;
}

.enunciado{
    font-style: italic;
}