body {
    font-family: "Inter", Arial, sans-serif;
    background: #0d0d0d;
    color: #e5e5e5;
    margin: 0;
    padding: 20px;
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 28px;
}

.formulario {
    width: 700px;
    margin: auto;
    padding: 25px;
    background: #1a1a1a;
    border-radius: 14px;
    border: 1px solid #2d2d2d;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    gap: 22px;
}

fieldset {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 18px;
}

legend {
    padding: 0 8px;
    color: #811585;
    font-weight: bold;
    font-size: 16px;
}


.campo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.campo label {
    font-size: 14px;
    color: #cccccc;
}

input,select,textarea {
    background: #121212;
    color: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #333;
    font-size: 15px;
}

input:focus,select:focus,textarea:focus {
    border-color:#811585;
    background: #161616;
    outline: none;
}

select[multiple] {
    height: 100px;
}

.radio-group {
    display: flex;
    gap: 18px;
}

.btn {
    padding: 14px;
    background: #811585;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
}

.btn:hover {
    background: #cc00ff;
    transform: translateY(-1px);
}

@media (max-width: 600px) {
    .formulario {
        padding: 15px;
    }

    .radio-group {
        flex-direction: column;
    }
}
