*{
    margin: 0%;
    padding: 0%;
}
header,footer{
    border-radius: 25px;
    border: 3px solid rgb(0, 0, 0);
    background-image: radial-gradient(rgb(20, 163, 182),white);
    text-align: center;
    padding: 20px;
    margin: 10px;
    text-shadow: 5px 8px 8px;
    cursor: url(./Cursor/cursor.cur), auto;
}

body{
    background: linear-gradient(to right bottom, rgb(226, 87, 94),rgb(0, 68, 107) 30%,rgb(96, 236, 40));
}


img{
    width: 100px;
}
.blo1 {
    border-radius: 25px;
    border: 3px solid rgb(223, 93, 93);
    margin: 100px;
    height: 250px;
    padding: 10px;
    background-image: linear-gradient(to right,#F5A35F, white);
    box-shadow: 10px 10px 8px rgb(223, 93, 93);
    display: flex;
    flex-direction: column;
    gap: 0px;
    cursor: url(./Cursor/cursor\ \(1\).cur), auto;
}

.contenido {
    display: flex;
    justify-content: space-between; /* texto izquierda / imagen derecha */
    align-items: center;
}

.contenido p {
    width: 100%;     /* limita el texto */
    font-size: 15px;
}

.imagen {
    width: 200px;
}

.blo2{
    border-radius: 25px;
    border: 3px solid rgb(38, 52, 240);
    margin: 100px;
    height: 200px;
    box-shadow: 10px 10px 8px rgb(38, 52, 240);
    text-align: center;
    background-image: linear-gradient(#74ABB5, white );
    cursor: url(./Cursor/cursor\ \(1\).cur), auto;
}
.blo3{
    border-radius: 25px;
    border: 3px solid rgb(38, 240, 88);
    margin: 100px;
    height: 200px;
    box-shadow: 10px 10px 8px rgb(38, 240, 88);
    text-align: center;
    background-image: linear-gradient(rgb(104, 62, 158), white );
    cursor: url(./Cursor/cursor\ \(1\).cur), auto;
}
p{
    padding: 5%;
}
